apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  labels:
    app: worker
    app.kubernetes.io/name: worker
    app.kubernetes.io/part-of: sperivote11
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      serviceAccountName: worker
      containers:
        - name: worker
          image: PLACEHOLDER_WORKER_IMAGE
          imagePullPolicy: Always
          env:
            - name: DATABASE_HOST
              valueFrom:
                configMapKeyRef:
                  name: sperivote11-config
                  key: DATABASE_HOST
            - name: DATABASE_SECRET_ARN
              valueFrom:
                configMapKeyRef:
                  name: sperivote11-config
                  key: DATABASE_SECRET_ARN
            - name: DATABASE_NAME
              valueFrom:
                configMapKeyRef:
                  name: sperivote11-config
                  key: DATABASE_NAME
            - name: AWS_REGION
              valueFrom:
                configMapKeyRef:
                  name: sperivote11-config
                  key: AWS_REGION
            - name: REDIS_HOST
              valueFrom:
                configMapKeyRef:
                  name: sperivote11-config
                  key: REDIS_HOST
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 256Mi
