apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  labels:
    app: worker
    app.kubernetes.io/name: worker
    app.kubernetes.io/component: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
        app.kubernetes.io/name: worker
    spec:
      serviceAccountName: worker-sa
      containers:
        - name: worker
          image: PLACEHOLDER_WORKER_IMAGE
          env:
            - name: NEW_RELIC_APP_NAME
              value: "voting01-worker-dev"
          envFrom:
            - configMapRef:
                name: voting01-config
            - secretRef:
                name: newrelic-license
                optional: true
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
